# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Local data / vector DB
chroma_db/

# Logs
*.log

.selenium-cache/
structured.db
data/raw/
data/processed/
ktun_bilgisayar_veri/
